*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: grey;
    width: 100vw;
    height: 200vh;
    /*background-image: url("../Images/pexels-vasilis-karkalas-half-dome.jpg");
  /* Set a specific height */
  /*min-height: 120vh; 
  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
/*----------------------------Author Section-------------------------------*/
.Carousel-Outer{
  width: 50%;
  height: 50%;
 
}

/*------------------------Work Experience Section----------------------------*/