*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: grey;
}
a{
    justify-content: center;
}
.Me{
    background: aqua url(../Images/WorkerBee.JPG) no-repeat;
    background-size: 5px;
    border-radius: 50%;
}